html, body, #root, #log, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#header {
  height: 8%;
  width: 100%;
  background-color: #fe0000;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

#middle {
  height: 82%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  width: 14%;
  padding-block: 3%;
  background-color: black;
  border: none;
  border-radius: 12px;
  color: white;
}

p {
  margin: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer {
  height: 10%;
  width: 100%;
  background-color: black;
}

#footer > p {
  margin: 0;
  color: white;
}