html, body, #root, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* #header {
  height: 10%;
  width: 100%;
  background-color: #fe0000;
  margin: 0;
} */

h1 {
  margin: 0;
}
